.query-form {
  display: block;
}
.expends-box {
  width: 450px;
  height: 100px;
  float: left;
}
.skin-section .list {
  overflow: hidden;
  float: none;
  display: inline-block !important;
  margin-bottom: 0;
  line-height: 14px;
  box-sizing: border-box;
}
.list li {
  float: left;
}
#table-query-form .form-control {
  height: 28px;
}
#table-query-form .btn {
  padding: 4px 12px;
}
.input-box label.col-xs-12 {
  padding-left: 0;
}
@media (max-width: 768px) {
  #table-query-form button#expend-query.btn.btn-primary {
    margin: 15px 0 0 0 !important;
  }
}
